@charset "utf-8";

/* CSS Document */
.close-mobile-menu .menu-item a {
    display: block;
    font-size: 36px;

    & i {
        background-color: white;
        min-width: 36px;
    }
}

/* */
.mobile-search {
    padding: 20px;
    background-color: #f2f2f2;
    border-bottom: 1px #ccc solid;
}

/* */
.mheader-bars,
.mheader-phone {
    & a {
        font-size: 25px;
        display: block;
        min-height: auto;

        & span {}
    }
}

/* */
.header-mobile-menu {
    position: fixed;
    top: 62px;
    bottom: 0;
    display: none;
    overflow-y: auto;
}

body.active-mobile-menu .header-mobile-menu {
    display: flex;
}

.mobile-search {
    padding: 20px;
    background-color: #f2f2f2;
    border-bottom: 1px #ccc solid;
}

/* desktop only */
@media only screen and (min-width:748px) {
    .ebfixed-top-menu .fix-top-menu {
        background-color: #fff;
        box-shadow: 0 0 5px #ccc;
    }
}

/* mobile, table only */
@media only screen and (max-width:788px) {
    #header {
        & .eb-menu>li {
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            margin: 0 7px;
            -webkit-transition: background-color .3s;
            -o-transition: background-color .3s;
            transition: background-color .3s;
        }

        & .eb-menu a {
            display: inline-flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #fff;
            padding: 0 20px;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: .02em;
            text-transform: uppercase;
            line-height: 44px;
        }

        & .eb-menu li.current-menu-item a,
        & .eb-menu a:hover {
            color: #f5daa8;
        }

        & .eb-menu .sub-menu {
            display: none;
            position: absolute;
            min-width: 260px;
            box-shadow: 2px 2px 5px #0000002e;
            padding: 10px 15px;
            background-color: white;
            text-align: left;

            & li {}

            & a {
                font-size: 14px;
                font-weight: bold;
                color: #333;
                display: block;
                white-space: nowrap;

                &:hover {
                    color: var(--default2-bg);
                }
            }

            & .sub-menu {
                display: none !important;
            }
        }
    }

    /* mobile menu */
    #header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0 !important;

        & a.ux-logo-link {
            padding: 5px !important;
        }

        & .eb-menu>li {
            display: block;
            margin-left: 0 !important;
            border-bottom: 1px #f2f2f2 solid;

            & button.toggle {
                position: absolute;
                right: 0;
                top: 3px;
            }

            & .sub-menu button.toggle {
                display: none !important;
            }
        }

        & .eb-menu a {
            color: var(--default-bg);
            display: block;
        }

        & .eb-menu li.current-menu-item a,
        & .eb-menu a:hover {
            color: var(--default-bg);
            font-weight: bold;
        }

        & .eb-menu .sub-menu {
            /* display: block; */
            position: relative;
            position: unset;
            box-shadow: none;
            min-width: auto;
            padding: 0;

            & a {
                text-transform: none;
            }
        }

        & .main-product-menu .sub-menu {
            min-width: auto !important;
            transform: none;
            left: 0;

            & li {
                width: auto;
                float: none;
            }
        }
    }
}

/* medium size */
@media only screen and (max-width:588px) {
    body {
        padding-top: 62px;
    }

    .center-if-mobile {
        text-align: center;
    }
}

/* mobile only */
@media only screen and (max-width:395px) {}