@charset "utf-8";

#publishing-action {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 99;
}

.WGR-post-edit-search-taxonomy {
    padding: 10px 0 0 10px;

    textarea,
    input {
        width: 96%;
    }
}

/* */
.edit-post-wgr-tab {
    position: fixed;
    left: 12%;
    bottom: 20px;
    border: 1px #ccc solid;
    border-bottom: 0 none;
    box-shadow: 0 0 20px #ccc;
    min-width: 220px;
    cursor: pointer;
    z-index: 999;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;

    li {
        border-bottom: 1px #ccc solid;
        margin: 0;
        padding: 10px;
        line-height: 20px;
        background: rgba(255, 255, 255, .8);
        display: none;
    }

    li:hover {
        text-decoration: underline;
        color: #f00;
    }
}

.edit-post-wgr-tab:hover {
    z-index: 9999;
}

.edit-post-wgr-tab li:last-child,
.edit-post-wgr-tab:hover li {
    display: list-item;
}

.edit-post-wgr-tab:hover li {
    background: #fff;
}

/* fixed láº¡i css cho editer trong flatsome */
#wp-uxbuilder-editor-container .mce-menubar .mce-container-body.mce-flow-layout {
    display: block !important;
}