@charset "utf-8";

#publishing-action {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 9;
}

.WGR-post-edit-search-taxnomy {
    padding: 10px 0 0 10px;
}

.WGR-post-edit-search-taxnomy textarea,
.WGR-post-edit-search-taxnomy input {
    width: 96%;
}

/* */
.edit-post-wgr-tab {
    position: fixed;
    left: 12%;
    bottom: 20px;
    border: 1px #ccc solid;
    border-bottom: 0 none;
    box-shadow: 0 0 20px #ccc;
    min-width: 220px;
    cursor: pointer;
    z-index: 9999;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.edit-post-wgr-tab li {
    border-bottom: 1px #ccc solid;
    margin: 0;
    padding: 10px;
    line-height: 20px;
    background: rgba(255, 255, 255, .8);
    display: none;
}

.edit-post-wgr-tab li:hover {
    text-decoration: underline;
    color: #f00;
}

.edit-post-wgr-tab li:last-child,
.edit-post-wgr-tab:hover li {
    display: list-item;
}

.edit-post-wgr-tab:hover li {
    background: #fff;
}