@charset "utf-8";

/* i.fas, */
/* em.fas, */
i.fa,
em.fa {
    font-style: normal;
}

.fa:before,
.fa:after {
    font-family: FontAwesome;
}

.cf,
.clearfix {
    zoom: 1;
}

.cf:before,
.cf:after,
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.cf:after,
.clearfix:after {
    clear: both;
}

.json-to-menu {
    opacity: 0.1;
    display: none;
    height: 25px;
    overflow: hidden;
}

.json-to-menu.actived {
    opacity: 1;
    display: block;
    height: auto;
    overflow: auto;
    overflow: unset;
}

ul.eb-menu,
.eb-menu ul {
    list-style: none;
}

ul.eb-menu,
.eb-menu ul,
.eb-menu li,
.eb-menu ul li {
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.col-inner ul.eb-menu li {
    margin-left: 0;
}

form.searchform {
    margin-bottom: 0;
}

.ebfixed-top-menu .fixed-top-menu,
.ebfixed-top-menu .fix-top-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.ebfixed-top-menu.logged-in .fix-top-menu {
    top: 32px;
}

/*
.row .col-inner p:last-child {
    margin-bottom: 0;
}
*/
.logo-padding0 .ux-logo-link {
    padding: 0 !important;
}

.padding0 {
    padding: 0;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

section.section.padding0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

section.section.padding10 {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.top-menu-space {
    padding-top: 20px;
}

.bottom-menu-space {
    padding-bottom: 20px;
}

.d-none {
    display: none;
}

.upper {
    text-transform: uppercase;
}

b,
strong,
.bold,
.strong {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

/* font size */
.size11,
.s11,
.small {
    font-size: 11px;
}

.size12,
.s12,
.small12 {
    font-size: 12px;
}

.size15,
.s15,
.medium {
    font-size: 15px;
}

.size16,
.s16,
.medium16 {
    font-size: 16px;
}

.size18,
.s18,
.medium18 {
    font-size: 18px;
}

.size23,
.s23,
.big {
    font-size: 23px;
}

.size30,
.s30,
.big2,
.big30 {
    font-size: 30px;
}

/* color */
.blackcl,
.blackcolor {
    color: black;
}

.whitecl,
.whitecolor {
    color: white;
}

.graycl,
.graycolor {
    color: #ccc;
}

.gray2cl,
.gray2color {
    color: #f2f2f2;
}

/* background color */
.blackbg {
    background-color: black;
}

.whitebg {
    background-color: white;
}

.graybg {
    background-color: #ccc;
}

.gray2bg {
    background-color: #f2f2f2;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic;
    /* font-size: 90%; */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-style: italic;
    /* font-size: 90%; */
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-style: italic;
    /* font-size: 90%; */
}

#my_custom_alert {
    position: fixed;
    display: none;
    top: 36px;
    z-index: 9999999;
    /* border: 1px #f00 solid; */
    left: 50%;
    transform: translate(-50%, 0);

    div {
        /* position: fixed; */
        /* z-index: 999999999; */
        /* top: 90px; */
        background: #008000;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 0 20px #999;
        cursor: pointer;
        text-align: center;
        /* display: inline-block; */
        /* width: auto; */
        margin-bottom: 15px;
    }

    div.redbg {
        background-color: darkred;
    }

    div.orgbg {
        background-color: darkorange;
    }
}

.echbay-items-contact-item {
    padding-bottom: .3em;
    padding-top: .3em;
}

.echbay-items-contact-text {
    padding-left: .5em;
}

/* ẩn các div không cần thiết ở giỏ hàng */
/* body.woocommerce-cart #header, */
/* body.woocommerce-checkout #header, */
body.woocommerce-checkout #footer,
body.woocommerce-cart #footer {
    display: none;
}

.social-icons .button.icon.zalo {
    background-color: #0165f7 !important;
}

.icon-zalo::before {
    content: "Z";
    font-family: sans-serif;
    font-weight: 700;
}

a.eb-tools-goto_menu {
    float: right !important;
    color: blue !important;
    font-size: 12px !important;
    font-family: sans-serif !important;
    font-style: italic !important;
    position: relative !important;
    z-index: 999 !important;
    top: -10px !important;
}

/* desktop only */
@media only screen and (min-width:748px) {

    /* định dạng lại form review của woocommerce cho dễ nhìn */
    #reviews.woocommerce-Reviews.row {

        #comments,
        #review_form_wrapper {
            flex-basis: 100%;
            max-width: 100%;
        }
    }

    /* chỉnh lại giới hạn chiều rộng cho sticky-add-to-cart của flatsome */
    .sticky-add-to-cart__product .product-title-small {
        max-width: 333px;
        line-height: normal;
    }
}

@media only screen and (max-width:588px) {

    #comments .comment-respond,
    #reviews.woocommerce-Reviews.row .review-form-inner {
        padding: 10px;
    }

    /* chỉnh lại phần tìm kiếm nhanh của flatsome trên mobile cho dễ nhìn hơn */
    .autocomplete-suggestion {
        display: block;

        img+.search-name {
            padding-left: 0;
        }

        .search-price {
            margin-left: 0;
            display: block;
        }
    }

    #footer .col {
        /* flex-basis: 100%; */
        /* max-width: 100%; */
    }
}